
<div class="card">
	<div class="card-header">
		{{ song.country_flag }} {{ song.country }}
	</div>
	
	<div class="card-body">
		<div class="card-title">{{ song.name }} - {{ song.artist }}
			<form id="{{vote_index}}" action="" method="post" novalidate>
				{{ form[vote_index].csrf_token }}

				<div class="form-row">
					{% set on_input = 'output' + vote_index|string + '.value = vote_' + vote_index|string + '.value' %} 
					<div class="col-10 my-1">
							{{ form[vote_index].vote(id='vote_' + vote_index|string, min=1, max=12, class="form-control-range", oninput=on_input) }}
					</div>
					<div class="col-2 my-1">
						<h1>
							<output id="{{ 'output' + vote_index|string }}" name="output" form="{{vote_index}}" for="{{ form[vote_index].vote.name }}">6</output>
						</h1>
					</div>
				</div>
				<div class="form-row">
					<div class="col-auto my-1">
						{{ form[vote_index].submit(class="btn btn-primary btn-lrg") }}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

