{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}{{ title }} - Eurovision!{% else %}Welcome to Eurovision{% endif %}
{% endblock %}

<style>
	@media (max-width: 400px) {
		.navbar-header {
			float: none;
		}

		.navbar-toggle {
			display: block;
		}

		.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		}

			.navbar-collapse.collapse {
				display: none !important;
			}

		.navbar-nav {
			float: none !important;
			margin: 7.5px -15px;
		}

			.navbar-nav > li {
				float: none;
			}

				.navbar-nav > li > a {
					padding-top: 10px;
					padding-bottom: 10px;
				}
	}
</style>

{% block navbar %}
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url_for('main.index') }}">
				<img src="static/icon.png" style="margin-top: -15px;" />
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			{% if current_user.is_anonymous %}
			<li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Login</a></li>
			{% else %}
			<li><a href="{{ url_for('main.user', username=current_user.username) }}"><img src="{{ current_user.avatar(20) }}"> {{current_user.username}}</a></li>
			<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
			{% endif %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-info" role="alert">{{ message }}</div>
	{% endfor %}
	{% endif %}
	{% endwith %}

	{# application content needs to be provided in the app_content block #}
	{% block app_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}