{% extends 'base.html' %}

{% block app_content %}

<h1>Sign In</h1>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<form method="POST">
				{{ form.csrf_token }}
				<p>Username: {{ form.username() }}</p>
				<p>Password: {{ form.password() }}</p>
				<p>Remember Me: {{ form.remember_me() }}</p>
				<p>{{ form.submit() }}</p>
			</form>
		</div>
	</div>
	<div class="col-md-4" style="margin-top:25px">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a>
				</p>
				<p>
					Forgot Your Password? <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
				</p>
			</div>
		</div>
	</div>

{% endblock %}
